# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.env.*

# Virtual environment
venv/
env/
.venv/

# IDE files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Streamlit secrets (if any)
secrets.toml

# Log files
*.log
